obj/MvcMovie.csproj.codegeneration.targets
obj/MvcMovie.csproj.EntityFrameworkCore.targets
obj/MvcMovie.csproj.nuget.dgspec.json
obj/MvcMovie.csproj.nuget.g.props
obj/MvcMovie.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/MvcMovie.AssemblyInfo.cs
obj/Debug/net5.0/MvcMovie.AssemblyInfoInputs.cache
obj/Debug/net5.0/MvcMovie.assets.cache
obj/Debug/net5.0/MvcMovie.csproj.CopyComplete
obj/Debug/net5.0/MvcMovie.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/MvcMovie.csproj.FileListAbsolute.txt
obj/Debug/net5.0/MvcMovie.csprojAssemblyReference.cache
obj/Debug/net5.0/MvcMovie.dll
obj/Debug/net5.0/MvcMovie.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/MvcMovie.genruntimeconfig.cache
obj/Debug/net5.0/MvcMovie.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/MvcMovie.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net5.0/MvcMovie.pdb
obj/Debug/net5.0/MvcMovie.RazorAssemblyInfo.cache
obj/Debug/net5.0/MvcMovie.RazorAssemblyInfo.cs
obj/Debug/net5.0/MvcMovie.RazorCoreGenerate.cache
obj/Debug/net5.0/MvcMovie.RazorTargetAssemblyInfo.cache
obj/Debug/net5.0/MvcMovie.RazorTargetAssemblyInfo.cs
obj/Debug/net5.0/MvcMovie.TagHelpers.input.cache
obj/Debug/net5.0/MvcMovie.TagHelpers.output.cache
obj/Debug/net5.0/MvcMovie.Views.dll
obj/Debug/net5.0/MvcMovie.Views.pdb
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Movies/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/net5.0/ref/MvcMovie.dll
obj/Debug/net5.0/staticwebassets/MvcMovie.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/staticwebassets/MvcMovie.StaticWebAssets.xml
bin/Debug/net5.0/appsettings.Development.json
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/dotnet-aspnet-codegenerator-design.dll
bin/Debug/net5.0/Humanizer.dll
bin/Debug/net5.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
bin/Debug/net5.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
bin/Debug/net5.0/Microsoft.AspNetCore.Identity.UI.dll
bin/Debug/net5.0/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
bin/Debug/net5.0/Microsoft.AspNetCore.Razor.Language.dll
bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
bin/Debug/net5.0/Microsoft.CodeAnalysis.dll
bin/Debug/net5.0/Microsoft.CodeAnalysis.Razor.dll
bin/Debug/net5.0/Microsoft.CodeAnalysis.Workspaces.dll
bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Sqlite.dll
bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net5.0/Microsoft.Identity.Client.dll
bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
bin/Debug/net5.0/MvcMovie.deps.json
bin/Debug/net5.0/MvcMovie.dll
bin/Debug/net5.0/MvcMovie.exe
bin/Debug/net5.0/MvcMovie.pdb
bin/Debug/net5.0/MvcMovie.runtimeconfig.dev.json
bin/Debug/net5.0/MvcMovie.runtimeconfig.json
bin/Debug/net5.0/MvcMovie.StaticWebAssets.xml
bin/Debug/net5.0/MvcMovie.Views.dll
bin/Debug/net5.0/MvcMovie.Views.pdb
bin/Debug/net5.0/Newtonsoft.Json.dll
bin/Debug/net5.0/SQLitePCLRaw.batteries_v2.dll
bin/Debug/net5.0/SQLitePCLRaw.core.dll
bin/Debug/net5.0/SQLitePCLRaw.nativelibrary.dll
bin/Debug/net5.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
bin/Debug/net5.0/System.Composition.AttributedModel.dll
bin/Debug/net5.0/System.Composition.Convention.dll
bin/Debug/net5.0/System.Composition.Hosting.dll
bin/Debug/net5.0/System.Composition.Runtime.dll
bin/Debug/net5.0/System.Composition.TypedParts.dll
bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net5.0/System.Runtime.Caching.dll
bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/de/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/es/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/it/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net5.0/ref/MvcMovie.dll
bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
bin/Debug/net5.0/runtimes/win-arm/native/e_sqlite3.dll
bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
bin/Debug/net5.0/runtimes/win-arm64/native/e_sqlite3.dll
bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/net5.0/runtimes/win-x64/native/e_sqlite3.dll
bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/net5.0/runtimes/win-x86/native/e_sqlite3.dll
bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
MvcMovie.db-shm
MvcMovie.db-wal
obj/Debug/net5.0/Razor/Views/Movies/Details.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Movies/Edit.cshtml.g.cs
